@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-start {
    align-items: start;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-around {
    justify-content: space-around;
}
ul{
    list-style: none;
}
.text-gray {
    color: #525252;
}
.text-green {
    color: #335900;
}
.text-darkgray {
    color: #7E7E7E;
}
.text-heading {
    color: #8DC63F;
}
.text-dark-green {
    color: #86BB3E;
}
.text-white {
    color: white;
}
.text-light-gray {
    color: #909090;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-22 {
    font-size: 22px;
}
.font-size-60 {
    font-size: 60px;
}
.font-size-27 {
    font-size: 27px;
}
.font-weight-700 {
    font-weight: 700;
}
.gap-20{
    gap: 20px;
}
.gap-10{
    gap: 10px;
}
.gap-30 {
    gap: 30px;
}
.pt-20 {
    padding-top: 20px !important;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pt-30 {
    padding-top: 30px;
}
.py-10 {
    padding: 0 10px;
}
.py-16 {
    padding: 0 16px;
}
.py-40{
    padding: 0 40px;
}
.py-100 {
    padding: 0 100px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.box-shadow-gray {
    box-shadow: 0px 4px 4px 0px #00000040;
}
.box-grey-shadow {
    box-shadow: 0px 3px 6px 0px #D6D6D6;

}
.position-relative {
    position: relative;
}
.input-text input {
    width: 308px; height: 32px;
    background-color: #ECF4E0;
    color: #607D3899;
    border: none;
    border-radius: 12px;
    text-indent: 40px;
    outline: none;
}
.small-input {
    display: none;
}
.input-text input::placeholder{
    color: #607D3899;
}
.input-text {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 8px;
    left: 13px;
}
.bell-icon {
    position: relative;
}
.bell:after {
    content: "5";
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #19A0FF;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-grey {
    width: 100%;
    height: 11px;
    border: 2px solid #E4F0F3;
    box-shadow: 0px 3px 6px 0px #D6D6D6;
}
.nav-link{
    border-right: 2px solid #86BB3E;
    padding-right: 20px;
    gap: 10px;
}
.mobile-menu-header {
    display: none;
    position: relative;
}
.back-menu {
    position: absolute;
    top: 30%;
    left: 10px;
}
.main-video-detail {
    width: calc(100% - 300px);
    height: max-content;
    border-radius: 18px;
}
.video-image {
    position: absolute;
    top: -5px;
    left:0;
    padding: 0 30px;
    opacity: 0.3;
}
.video-play-detail h1 {
    font-size: 25px ;
}
.video-play-detail h6 {
    font-size: 20px;
}
.video-play-detail {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-title {
    padding: 30px 80px 22px 80px;
}
.share-btn {
    box-shadow: 0px 0px 4px 0px #00000029;
    padding: 5px 20px;
    border: none;
    background-color: #ffffff;
    width: max-content;
    display: flex;
    align-items: center;
    height: max-content;
}
.by-andrew-one {
    display: none;
}
.video-section {
    width: 300px;
    border-bottom: 1px solid #B8B8B8;
}
.menu-section {   
    padding:  0px 20px 0;
}
.video-menu {
    border-bottom: 1px solid #B8B8B8;
    padding: 20px 10px;
}
.video-sub-menu {
    border: none;
}
.video-sub-menu li {
    padding: 0 !important; border: none !important;
}
.video-sub-menu {
    overflow-y: scroll;
    height: 230px;
}
.video-sub-menu li:hover {
    background: #86BB3E;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}
.home-menu i ,.home-menu h1 {
    color: #9B9B9B;
}
.home-menu i {
    font-size: 12px;
}
.home-menu h1 {
    font-size: 10px;
}
.home-menu {
    display: none;
}

/* scroll-bar */
    .video-sub-menu::-webkit-scrollbar {
    width: 10px;
  }
  .video-sub-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(241, 240, 240); 
    border-radius: 10px;
  }
  .video-sub-menu::-webkit-scrollbar-thumb {
    background: #E7E7E7; 
    border-radius: 10px;
  }


@media (max-width:1440px) {
    .logo-small img {
        width: 130px;
        height: 60px;
    }
    .logo-small {
        gap: 10px;
    }
    .main-header {
        padding: 10px 20px 0 20px;
        gap: 10px !important;
    }
    .big-input {
        display: none;
    }
    .small-input {
        display: block;
    }
    .input-text input {
        width: 100%;
    }
    .main-header-menu {
        gap: 10px !important;
        padding-left: 10px !important;
    }
    .nav-link {
        padding-right: 10px;
    }
    .nav-link h1 {
        font-size: 14px;
    }
    .account-detail h1, .account-detail h1 i {
        font-size: 12px;
    }  
    .account-detail img{
        width: 25px;
        height: 25px;
    }
    .heading-one img{
        width: 25px !important;
        height: 25px;
    }
    .header-img {
        width: 90px;
        height: 90px;
    }
}

@media (max-width:1200px) {
    .video-title {
        padding: 15px 20px 10px 20px;
    }
    .video-mobile-view{
        padding-bottom: 20px;
    }
    .share-btn {
        padding: 5px 10px;
        font-size: 14px;
    }
    .video-mobile-view h1 span{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:1024px) {

    .video-play-detail h1, .video-play-detail h6 {
        padding-bottom: 20px;
    }
    .video-play-detail img {
        padding-bottom: 20px;
        width: 50px;
    }
    .video-mobile-view {
        padding-bottom: 15px;
    }
    .video-mobile-view h1 {
        font-size: 15px;
    }
    .share-btn {
        padding: 5px 10px;
        width: max-content;
        font-size: 12px;
    }
    .video-title {
        padding: 15px 30px 15px 30px;
    }
    .content-text h1 {
        font-size: 12px;
    }
    .video-sub-menu {
        height: 165px;
    }
    .video-mobile-view h1 span{
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:992px) {

    .mobile-menu-header {
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 3px 4px 0px #0000001C;
        padding: 10px 0 ;
    }
    .mobile-main-video {
        display: none;
    } 
    .mobile-menu-header {
        display: block;
        /* display: flex; */
    }
    .game-play-image {
        display: none;
    }
    .video-play-detail h6 {
        font-size: 15px;
    }
    .video-play-detail p {
        font-size: 14px;
    }
    .video-title {
        padding: 10px 20px 10px 20px;
    }
    .video-mobile-view h1 {
        font-size: 16px;
    }
    .video-mobile-view h1 span{
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }
    .content-text {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        border-top: 1px solid #C4C4C4;
        padding-top: 10px;
    }
   
}

@media (max-width:824px) {

    .mobile-menu-header {
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 3px 4px 0px #0000001C;
    }
    .mobile-main-video {
        display: none;
    } 
    .mobile-menu-header {
        display: block;
    }
    .main-video-manu {
        flex-wrap: wrap;
        padding: 0;
    }
    .main-video-detail {
        padding: 0;
    }
    .main-video-detail {
        width: 100%;
    }
    .video-image {
        padding: 0;
    }
    .vidio-mainmenu {
        padding: 1px 0 0 0;
    }
    .select-menu {
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 10px;  
    }
    .video-menu {
        border: none;
        padding: 10px;
    }
    .video-section {
        width: 100%;
        padding: 10px;
        border: none;
    }
    .video-title h1 {
        font-size: 18px;
    }
    .content-text h1 {
        font-size: 14px;
    }
    .video-title h1 span {
        font-size: 12px;
    }
    .mobile-view-template {
        box-shadow: 0px 0px 4px 0px #00000029;
        border-radius: 6px;
        margin-bottom: 20px;
        padding: 0 14px;
    }
    .video-sub-menu {
        display: flex;
        border-top: 1px solid #B8B8B8;
    }
    .video-sub-menu  li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px !important;
        font-size: 14px;
    }
    .video-sub-menu {
        overflow-y: hidden;
        overflow-x: scroll;
        height: max-content;
    }
    .home-menu {
        display: block; 
    }
    .home-activity {
        box-shadow: 0px -2px 4px 0px #0000000F;
        border-radius: 22px 22px 0px 0px;
        padding: 10px 36px;
    }
    .copyright-detail {
        display: none;
    }
}

@media (max-width:480px) {
    .video-play-detail h1 {
        padding-bottom: 10px;
        font-size: 12px;
    }
    .video-play-detail img {
        width: 30px;
        padding-bottom: 10px;
    }
    .video-play-detail p, .video-mobile-view h1, .video-play-detail h6 {
        font-size: 10px;
    }
    .share-btn, .share-btn i {
        font-size: 12px;
        padding: 5px 8px;
        width: max-content;
        display: flex;
        align-items: center;
    }
    .select-menu {
        gap: 10px;
    }
    .video-title h1 span {
        font-size: 10px;
    }
    .video-title {
        padding: 10px;
    }
    .video-menu {
        padding: 15px 5px;;
    }
    .video-title h1 {
        font-size: 12px;
    }
    .select-menu i {
        padding: 0;
    }
    .content-text {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    .content-text h1 {
        font-size: 12px;
    }
    .video-section {
        padding: 0;
    }
    .menu-section {
        padding: 20px 10px 0;
    }
    .mobile-view-template p {
        padding: 15px 5px;
    }
}